<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
 <plist version="1.0">
 <dict>
   <key>GIDClientID</key>
   <string>411291759513-v4t38dvn2spiurjhs2nlh6j1qrjvb73d.apps.googleusercontent.com</string>
   <key>CFBundleIdentifier</key>
   <string>com.team04.app</string>
   <key>CFBundleURLTypes</key>
   <array>
     <dict>
       <key>CFBundleTypeRole</key>
       <string>Editor</string>
       <key>CFBundleURLSchemes</key>
       <array>
         <string>com.googleusercontent.apps.411291759513-v4t38dvn2spiurjhs2nlh6j1qrjvb73d</string>
       </array>
     </dict>
   </array>
 </dict>
 </plist>
