<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.411291759513-v4t38dvn2spiurjhs2nlh6j1qrjvb73d</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1048501913146-c42gbpof55hcb4qpbd79cvgv99s4bh2i</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>411291759513-v4t38dvn2spiurjhs2nlh6j1qrjvb73d.apps.googleusercontent.com</string>
	<key>NSLocationDefaultAccuracyReduced</key>
	<false/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBG</string>
		<key>UIImageName</key>
		<string>LaunchAppIcon</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>NSLocationDefaultAccuracyReduced</key>
	<false/>
	<key>NSLocationUsageDescription</key>
	<string>We&apos;ll use this to help you find errands around you.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We&apos;ll use this to help you find errands around you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We&apos;ll use this to help you find errands around you.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We&apos;ll use this to help you find errands around you.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Quicksand-VariableFont_wght.ttf</string>
		<string>Quicksand-Bold.ttf</string>
	</array>
</dict>
</plist>
