<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048501913146-c42gbpof55hcb4qpbd79cvgv99s4bh2i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048501913146-c42gbpof55hcb4qpbd79cvgv99s4bh2i</string>
	<key>API_KEY</key>
	<string>AIzaSyCGei9Y0mFrFOs1bOP0wLut7En1ZNuVEb4</string>
	<key>GCM_SENDER_ID</key>
	<string>1048501913146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>team04.-7443-sprint3</string>
	<key>PROJECT_ID</key>
	<string>team4-sprint3</string>
	<key>STORAGE_BUCKET</key>
	<string>team4-sprint3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048501913146:ios:74e69466809111f2505703</string>
</dict>
</plist>